extends layout

block content
  div#initialContent
    =appData
  div.app
  script(id="imageTemplate", type="text/x-handlebars")
    <a href="#" class="name"> {{title}}</a> : {{desc}} ({{url}})
  script(id="imageSlideTemplate", type="text/x-handlebars")
    <h2>{{title}}</h2>
    <p>Description: {{desc}}</p>
    <p>url: {{url}}</p>

